* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(100, 139, 255);
    font-size: 2rem;
}

#calculator {
    border: 1px solid black;
    background-color: blue;
}

form div {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#output {
    height: 120px;
    width: 100%;
    border: none;
    background-color: rgb(50, 50, 255);
    color: white;
    font-size: 1.5rem;
    text-align: end;
}

.button-row input {
    height: 60px;
    width: 60px;
    border: none;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(100, 100, 255);
    color: white;
    font-size: 1.5rem;
}

.button-row input:hover {
    background-color: rgb(100, 100, 255, 0.8);
}

.button-row input:active {
    background-color: rgb(200, 200, 255);
}

#zero {
    width: 140px;
    border-radius: 50px;
}