* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    border: 1px solid black;
}

form div {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#output {
    height: 120px;
    width: 100%;
    border: none;
}

.button-row input {
    height: 60px;
    width: 60px;
    border: none;
    margin: 10px;
    border-radius: 100%;
}

#zero {
    width: 140px;
    border-radius: 50px;
}